h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login{

}
.login > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    height: max-content;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    padding: 20px;
    
    /* width: 500px; */
    /* align-items: flex-end; */
}

.login > form > div > input{
    width: 330px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid lightgray;
    outline: none;
    margin-bottom: 10px;
    
}
.login_button{
    width: 300px;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 16px;
    background-color: rgb(44, 109, 194);
    border: 2px solid lightgray;
    outline: none;
    /* margin-bottom: 10px; */
    
}
label{
    margin-bottom: 5px;
}
.display_flex{
    display: flex;
    flex-direction: column;
}

.register{
    margin:10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.register_link{
    color: rgb(44, 109, 194);
    cursor: pointer;
    margin-left: 5px;
}